<% content_for(:title, @post.title)%>
<div class="post">
	<h1><%= @post.title %></h1>
	<small><%= @post.created_at.strftime("%d %b. %Y") %></small>
	<p>Created By: <%= @post.admin_user.name %></p>
	<div class="entry">
		<p><%= @post.body %></p>
	</div>
	<p>Category: <%= link_to @post.category.name,category_path(:id => @post.category.id) %></p>
	<p><%= link_to "Back", posts_path %></p>
	<hr />
	<h3><a id="comments">Add a Comment</a></h3>
	<%= form_for @post_comment do |f| %>
		<%= f.hidden_field :post_id %>

		<p>
			<%= f.label :name %><br />
			<%= f.text_field :name %><br />
		</p>

		<p>
			<%= f.label :email %><br />
			<%= f.text_field :email %><br />
		</p>

		<p>
			<%= f.label "Comment" %><br />
			<%= f.text_area :body %><br />
		</p>

		<p>
			<%= f.submit "Post Comment" %><br />
		</p>
	<% end %>
	<hr />
	<%= render :partial => 'partials/post_comment', :collection => @post.post_comments %>
</div>